ErrorDocument 404 http://localhost/W-Wayshk-Admin/404.php

RewriteEngine on

RewriteRule ^Home index.php [NE,L]

RewriteRule ^Category category.php [NE,L]

RewriteRule ^Sub-Category sub_category.php [NE,L]

RewriteRule ^Product-Type product_type.php [NE,L]

RewriteRule ^Product-Details product_detail.php [NE,L]

RewriteRule ^Login login.php [NE,L]

RewriteRule ^Logout logout.php [NE,L]

RewriteRule ^Insert insert.php [NE,L]

RewriteRule ^Account account.php [NE,L]

RewriteRule ^Cart cart.php [NE,L]

RewriteRule ^Checkout checkout.php [NE,L]

RewriteRule ^Payment payment.php [NE,L]
